@font-face {
	font-family: mc;
	src: url('./img/font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@keyframes slide{
	0%{background-position-x: 0}
	100%{background-position-x: -2560px;}
}
html{font-size:2px;overscroll-behavior:none}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	font-family: mc, Arial;
	font-size: 10rem;
	color: white;
	animation: spin 1s infinite;
	image-rendering: pixelated;
	text-shadow: 1rem 1rem #3f3f3f;
}
*{margin:0;box-sizing:border-box;padding:0;line-height:1;min-width:0;flex-shrink:0;-webkit-tap-highlight-color:transparent}
input, textarea{
	font: inherit;
	border: unset;
	-webkit-appearance: none;
	outline: none;
	border-radius: unset;
	resize: none;
	background: none;
	color: transparent;
	height: 100%;
	width: 100%;
	padding: var(--padding);
}
in{
	background: #000;
	border: 1rem #a0a0a0 solid;
	position: relative;
	z-index: 0;
	--padding: 3rem;
	width: 200rem;
	height: 20rem;
}
in.tall{
	height: 5em;
}
in div{
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--padding);
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}
in > input + div{
	white-space: pre;
}
f.__invalid{color: red}
in textarea:focus + div > f.__cursor, in input:focus + div > f.__cursor{
	display: inline;
}
f.__cursor{
	display: none;
	letter-spacing: -50rem;
	animation: blink 1.2s steps(2) infinite;
}
@keyframes blink{
	0%{opacity: 1} 49.99% {opacity: 1} 50%{opacity: 0} 100%{opacity: 0}
}
input::selection, textarea::selection{
	background-color: #fffd;
	color: blue;
}

input[type=checkbox]{
	width: 1em;
	height: 1em;
	margin: 0;
	vertical-align: bottom;
}
input[type=checkbox]:checked::after{
	content: "✓";
	display: block;
	line-height: 0.85em;
	font-size: 1.2em;
	width: inherit;
	text-align: center;
}
span{
	display: block;
	text-align: center;
	height: 20rem;
	line-height: 20rem;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: hidden;
	flex-shrink: 0;
}
btn{
	display: block;
	text-align: center;
	height: 20rem;
	width: 200rem;
	line-height: 19rem;
	background: url('./img/button.png') right center/324rem no-repeat;
	cursor: pointer;
	flex-shrink: 0;
}
row > btn{
	width: 96rem;
	background: url('./img/button.png') -28rem center/324rem;
}
btn.tiny{
	width: 20rem;
	background: url('./img/button.png') -8rem center/324rem;
}
btn.thumb{
	width: 8rem;
	background: url('./img/button.png') left center/324rem;
	position: absolute;
	--value: 0;
	top: 0;
	left: calc(var(--value) * (100% - 8rem));
}
btn.highlighted, btn.hover{
	background-position-y: 100%;
}
btn.disabled{
	background-position-y: 0;
	cursor: unset;
}
.selectable.hover{
	color: white !important;
}

.c0{ color: #000; text-shadow: 1rem 1rem #0004 }
.c1{ color: #a00; text-shadow: 1rem 1rem #2a0000 }
.c2{ color: #0a0; text-shadow: 1rem 1rem #002a00 }
.c3{ color: #fa0; text-shadow: 1rem 1rem #2a2a00 }
.c4{ color: #00a; text-shadow: 1rem 1rem #00002a }
.c5{ color: #a0a; text-shadow: 1rem 1rem #2a002a }
.c6{ color: #0aa; text-shadow: 1rem 1rem #002a2a }
.c7{ color: #aaa; text-shadow: 1rem 1rem #2a2a2a }
.c8{ color: #555; text-shadow: 1rem 1rem #15151544 }
.c9{ color: #f55; text-shadow: 1rem 1rem #3f1515 }
.c10{ color: #5f5; text-shadow: 1rem 1rem #153f15 }
.c11{ color: #ff5; text-shadow: 1rem 1rem #3f3f15 }
.c12{ color: #55f; text-shadow: 1rem 1rem #15153f }
.c13{ color: #f5f; text-shadow: 1rem 1rem #3f153f }
.c14{ color: #5ff; text-shadow: 1rem 1rem #153f3f }
.c15{ color: #fff; text-shadow: 1rem 1rem #3f3f3f }

.s1, .s3, .s5, .s7, .s9, .s11, .s13, .s15 { font-weight: bold; }
.s2, .s3, .s6, .s7, .s10, .s11, .s14, .s15 { font-style: italic; }
.s4, .s5, .s6, .s7 { text-decoration: underline; }
.s8, .s9, .s10, .s11 { text-decoration: line-through; }
.s12, .s13, .s14, .s15 { text-decoration: underline line-through; }

iframe{
	position: absolute;
	border: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

hr{
	visibility: hidden;
	flex: 1;
}

::placeholder{ color: #8888 }

#ui{
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	background-color: #0006;
	align-items: center;
	top: 0; left: 0;
	bottom: 0; right: 0;
	z-index: 1001;
}
#ui.noshade{ background-color: #0000 }
#ui.dirtbg{ background: url('./img/bg32.png') 0 0/48px }

.menu{
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
row{
	display: flex;
	flex-direction: row;
	gap: 8rem;
	width: 100%;
	justify-content: center;
}

column{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#chat{
	position: fixed;
	bottom: 42rem;
	z-index: 20;
	left: 2rem;
	width: 250rem;
	display: flex;
	flex-direction: column-reverse;
}
@keyframes fade{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
#chat > div{
	padding: 0 3rem;
	background: #0004;
	white-space: pre-wrap;
	animation: fade 1s linear 9s both;
	word-break: break-word;
}
#chat.focus > div{
	opacity: 1 !important;
	animation-play-state: paused;
}
#chat.voice:after{
	content: '';
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAALCAYAAAD1JjQCAAAAAXNSR0IArs4c6QAAANFJREFUOE+9lFsOwyAMBM2p2yO0pyZa1IlWK5I2QWqUH/BrWGxa2derupZt/P//9qKAgLACpFx34g9h3lX1XFDoVdWvxv8Ekyf1tSuKGt/sUn8W1wjMa5Iyj0//yOZKscYuFVQg/c/sAs+4AUMhgLQmuduUAHglUrEjSA6T101cjof8RnKfIKfVvsNkgTPFZjB+CxzYoUbP5BXhQACN6Kr4nk9gKpa9QWNPe4ZELp9T50TMpgQ1lQt/95vZ5Zv7p8rceStWnsp9tJ3SE159K1ZgNm64fhq/G7yuAAAAAElFTkSuQmCC) 0/cover;
	height: 11rem; width: 35rem;
	position: absolute;
	bottom: -25rem; left: 1rem;
	filter: drop-shadow(0 0 3px black)
}
#chatbox{
	position: fixed;
	bottom: 30rem;
	z-index: 20;
	left: 2rem;
	background: #0004;
	border: none;
	--padding: 0 3rem;
	height: 1.1em;
	width: calc(100% - 4rem);
}

[hidden]{display: none !important}

#serverlist{
	box-shadow: inset 0 0 10rem black;
	background: #0004;
	padding: 5rem;
	width: 100%;
	flex-grow: 10;
	min-height: 200px;
	overflow-y: auto;
}
#serverlist > row{
	padding: 1rem;
	margin: 2rem;
	height: 54rem;
}
#serverlist span{
	flex-grow: 1;
	text-align: left;
}
#serverlist > row > div{
	height: 52rem;
	flex-grow: 1;
}
#serverlist > row.hover{
	border: 1rem #fff8 solid;
	cursor: pointer;
	padding: 0;
}
#serverlist img{
	width: 48rem; height: 48rem; margin: 2rem;
}

@media (orientation: portrait) and (max-width: 450px) {
	#orientation{display: flex !important}
}

.serverlist > row{
	padding: 8rem;
}

@media (max-height: 600px){
	#serverlist img{
		width: 40rem; height: 40rem;
	}
	#serverlist > row{ height: 46rem }
	#serverlist{ padding: 3rem }
	.serverlist > row{
		padding: 4rem;
	}
}
@media (max-height: 380px){
	#serverlist img{
		width: 32rem; height: 32rem;
	}
	#serverlist > row{ height: 38rem }
	#serverlist{ padding: 1rem }
	.serverlist > row{
		padding: 2rem;
	}
}
@media (max-height: 336px) {
	body{
		width: 125%;
		height: 125%;
		transform-origin: top left;
		transform: scale(0.8);
	}
}

@media (pointer: coarse){
	in:has(input:focus){
		position: fixed;
		left: 50%; top: 20%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 100px 50px #000;
	}
}

#spacing{
	flex-basis: 15%;
}

#errors{
	position: fixed;
	top: 0; left: 0;
	z-index: 2147483647;
	display: flex;
	color: red;
	flex-direction: column;
	white-space: pre-wrap;
	width: 75%;
	height: 0;
	pointer-events: none;
	touch-action: none;
}