@font-face {
	font-family: mc;
	src: url('./img/font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@keyframes slide{
	0%{background-position-x: 0}
	100%{background-position-x: -2560px;}
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	font-family: mc, Arial;
	font-size: 8rem;
	color: white;
	animation: spin 1s infinite;
	image-rendering: pixelated;
	--tc: #3f3f3f;
	text-shadow: 1rem 1rem var(--tc);
}
*{
	margin:0;box-sizing:border-box;
	padding:0;line-height:12rem;min-width:0;
	flex-shrink:0;-webkit-tap-highlight-color:transparent;
	overscroll-behavior: none; touch-action: manipulation;
	scrollbar-width: none;
}
input, textarea{
	font: inherit;
	border: unset;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border-radius: unset;
	resize: none;
	background: none;
	color: transparent;
}
in{
	display: block;
	background: #000;
	border: 1rem #a0a0a0 solid;
	position: relative;
	z-index: 0;
	--padding: 3rem;
	width: 200rem;
	height: 20rem;
	overflow: hidden;
}
in.tall{
	height: 5em;
}
in div, in input{
	position: absolute;
	top: 0; height: calc(100% + 1rem);
	left: 0; width: 100%;
	overflow: auto;
	overflow-wrap: break-word;
	padding: var(--padding);
	white-space: pre;
}
in > div{ z-index: -1 }
f.__invalid{color: red}
in textarea:focus + div > f.__cursor, in input:focus + div > f.__cursor{
	display: inline;
}
f.__cursor{
	display: none;
	letter-spacing: -50rem;
	animation: blink 1.2s steps(2) infinite;
}
@keyframes blink{
	0%{opacity: 1} 49.99% {opacity: 1} 50%{opacity: 0} 100%{opacity: 0}
}
input::selection, textarea::selection{
	background-color: #fffd;
	color: blue;
}

input[type=checkbox]{
	width: 1em;
	height: 1em;
	margin: 0;
	vertical-align: bottom;
}
input[type=checkbox]:checked::after{
	content: "✓";
	display: block;
	line-height: 0.85em;
	font-size: 1.2em;
	width: inherit;
	text-align: center;
}
span{
	display: block;
	text-align: center;
	height: 20rem;
	line-height: 20rem;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: visible;
	flex-shrink: 0;
}
btn{
	display: block;
	text-align: center;
	height: 20rem;
	width: 200rem;
	line-height: 20rem;
	background: url('./img/button.png') right center/324rem no-repeat;
	cursor: pointer;
	flex-shrink: 0;
}
btn.small{
	width: 96rem;
	background: url('./img/button.png') -28rem center/324rem;
}
btn.tiny{
	width: 20rem;
	background: url('./img/button.png') -8rem center/324rem;
}
btn.thumb{
	width: 8rem;
	background: url('./img/button.png') left center/324rem;
	position: absolute;
	--value: 0;
	top: 0;
	left: calc(var(--value) * (100% - 8rem));
}
btn.highlighted, btn.hover{
	background-position-y: 100% !important;
}
btn.disabled{
	background-position-y: 0 !important;
	cursor: unset;
}
.selectable.hover{
	color: white !important;
}

.c0{ color: #000; --tc: #0004; text-shadow: 1rem 1rem var(--tc); }
.c1{ color: #a00; --tc: #2a0000; text-shadow: 1rem 1rem var(--tc); }
.c2{ color: #0a0; --tc: #002a00; text-shadow: 1rem 1rem var(--tc); }
.c3{ color: #fa0; --tc: #2a2a00; text-shadow: 1rem 1rem var(--tc); }
.c4{ color: #00a; --tc: #00002a; text-shadow: 1rem 1rem var(--tc); }
.c5{ color: #a0a; --tc: #2a002a; text-shadow: 1rem 1rem var(--tc); }
.c6{ color: #0aa; --tc: #002a2a; text-shadow: 1rem 1rem var(--tc); }
.c7{ color: #aaa; --tc: #2a2a2a; text-shadow: 1rem 1rem var(--tc); }
.c8{ color: #555; --tc: #15151544; text-shadow: 1rem 1rem var(--tc); }
.c9{ color: #f55; --tc: #3f1515; text-shadow: 1rem 1rem var(--tc); }
.c10{ color: #5f5; --tc: #153f15; text-shadow: 1rem 1rem var(--tc); }
.c11{ color: #ff5; --tc: #3f3f15; text-shadow: 1rem 1rem var(--tc); }
.c12{ color: #55f; --tc: #15153f; text-shadow: 1rem 1rem var(--tc); }
.c13{ color: #f5f; --tc: #3f153f; text-shadow: 1rem 1rem var(--tc); }
.c14{ color: #5ff; --tc: #153f3f; text-shadow: 1rem 1rem var(--tc); }
.c15{ color: #fff; --tc: #3f3f3f; text-shadow: 1rem 1rem var(--tc); }

.s1, .s3 { text-shadow: .5rem 0, 1rem 0, 1rem 1rem var(--tc), 1.5rem 1rem var(--tc), 2rem 1rem var(--tc); letter-spacing: 1rem; }
.s2, .s3, .s6, .s7, .s10, .s11, .s14, .s15{ font-style: italic; }
.s4, .s5, .s6, .s7 { text-decoration: underline 1rem }
.s8, .s9, .s10, .s11 { text-decoration: line-through 1rem }
.s12, .s13, .s14, .s15 { text-decoration: underline line-through 1rem }
.s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12, .s13, .s14, .s15 { text-shadow: none; filter: drop-shadow(1rem 1rem var(--tc)) }
.s5, .s7, .s9, .s11, .s13, .s15{ text-shadow: .75rem 0; letter-spacing: 1rem; }


iframe{
	position: fixed;
	border: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

hr{
	visibility: hidden;
	flex: 1;
}

::placeholder{ color: #8888 }

#ui{
	padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	background-color: #0006;
	align-items: center;
	top: 0; left: 0;
	bottom: 0; right: var(--pr);
	z-index: 1001;
	/* No BGR antialiasing on windows 10 (it looks really ugly) */
	filter: invert(0);
}
#ui.noshade{ background-color: #0000 }
#ui.dirtbg{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURToqHRwTDS8iFyYbEioqKiIiIiQcFSLntIgAAAEDSURBVGje7ZnREcMgDENZgRWyQlfoCl2h+49Q3It6iuIOgE7+AYx5/Ohsk4yx7DjtcVrnm8t4H+MIwAJQkwrkgFo/l8EHIO/P0wLwAEALEAuvWTQcw3EBeABKFK9lXW7QxIKRhRWADwCbtVGHu+RR87rodkkAFgAkCRXMJOuajEs2CmB7AMQDZzUWGqBzFV8AHgAO0IcGRNX5A/ABqJNHCEwP814APgB9eGpB6YrJL6EEYAXoCgnAeggfKC5CCmB7QFdtsK5HBl/CD5IvPAALgDoV8s8GqysACwCL6b1Mmwokle4DVQAeAA3iJlKbDP2JEYAfQB+d1UAcZHrwVpkC2BnwAd8UZn0UizqoAAAAAElFTkSuQmCC) 0 0/64px }

.menu{
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
row{
	display: flex;
	flex-direction: row;
	gap: 8rem;
	width: 100%;
	justify-content: center;
}

column{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
@keyframes fade{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
#voice{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAALCAYAAAD1JjQCAAAAAXNSR0IArs4c6QAAANFJREFUOE+9lFsOwyAMBM2p2yO0pyZa1IlWK5I2QWqUH/BrWGxa2derupZt/P//9qKAgLACpFx34g9h3lX1XFDoVdWvxv8Ekyf1tSuKGt/sUn8W1wjMa5Iyj0//yOZKscYuFVQg/c/sAs+4AUMhgLQmuduUAHglUrEjSA6T101cjof8RnKfIKfVvsNkgTPFZjB+CxzYoUbP5BXhQACN6Kr4nk9gKpa9QWNPe4ZELp9T50TMpgQ1lQt/95vZ5Zv7p8rceStWnsp9tJ3SE159K1ZgNm64fhq/G7yuAAAAAElFTkSuQmCC) 0/cover;
	height: 11rem; width: 35rem;
	position: absolute;
	bottom: 5rem; left: 5rem;
	filter: drop-shadow(0 0 3px black)
}
#chatbox{
	position: fixed;
	bottom: 30rem;
	z-index: 20;
	left: 2rem;
	background: #0004;
	border: none;
	height: 12rem;
	width: calc(100% - 4rem);
	--padding: 0 3rem;
}

[hidden]{display: none !important}

#serverlist, #optionlist{
	box-shadow: inset 0 0 10rem black;
	background: #0004;
	--padding: 7rem;
	width: 100vw;
	flex-grow: 10;
	min-height: 200px;
	overflow-y: auto;
	padding: var(--padding) calc(var(--padding) + env(safe-area-inset-right)) calc(var(--padding) + env(safe-area-inset-bottom)) calc(var(--padding) + env(safe-area-inset-left));
	display: flex; flex-direction: column;
	gap: 4rem;
	align-items: center;
}
#serverlist > row{
	padding: 1rem;
	height: 54rem;
}
#optionlist{gap: 16rem;}
#serverlist span, #optionlist > row > span{
	flex-grow: 1;
	text-align: left;
}
#optionlist > row{
	padding: 0 10rem;
}
#serverlist > row > div{
	height: 52rem;
	flex: 1;
}
#serverlist > row:last-child{ height: 30rem; }
#serverlist > row:last-child > div{
	text-align: center;
	height: 30rem;
	line-height: 30rem;
}
#serverlist > row.hover, #serverlist > row > .hover{
	outline: 1rem #fff8 solid;
	outline-offset: -1rem;
	cursor: pointer;
}
#serverlist img{
	min-width: 48rem; height: 48rem; margin: 2rem; max-width: 96rem;
	position: relative;
}
img:after{
	position: absolute; inset: 0; content: '';
	background: url(./img/pack.png) center/contain no-repeat, #000;
}

@media (orientation: portrait) and (max-width: 450px) {
	#orientationdiv{display: flex !important}
}

.serverlist > row{ padding: 8rem }

@media (max-height: 600px){
	#serverlist img{
		min-width: 40rem; height: 40rem;
	}
	#serverlist > row{ height: 46rem }
	#serverlist{ --padding: 5rem }
	.serverlist > row{ padding: 4rem }
}
@media (max-height: 380px){
	#serverlist img{
		min-width: 32rem; height: 32rem;
	}
	#serverlist > row{ height: 38rem }
	#serverlist{ --padding: 3rem }
	.serverlist > row{ padding: 2rem }
	#serverlist > row > div > span{ transform: translateY(-6rem) }
}
@media (max-height: 336px) {
	body{
		width: 125%;
		height: 125%;
		transform-origin: top left;
		transform: scale(0.8);
	}
}

@media (pointer: coarse){
	in:has(input:focus){
		position: fixed;
		left: 50%; top: 20%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 100px 50px #000;
	}
}

#spacing{ flex-basis: 15% }

#errors{
	position: fixed;
	top: 0; left: 0;
	z-index: 2147483647;
	display: flex;
	color: red;
	flex-direction: column;
	white-space: pre-wrap;
	width: 75%;
	height: 0; font-size: 4rem; line-height: 5rem;
	pointer-events: none;
	touch-action: none;
}

.textc{ white-space: pre-wrap }
.textc > span{ display: inline }
::-webkit-scrollbar{ display: none }

prompt{
	cursor: pointer;
	z-index:1000000; position:fixed;
	top: 0; left: 0; width: 100%;
	background: #72a; display: flex;
}
prompt > span{
	line-height:16rem; height:16rem;
}