@font-face {
	font-family: ubuntu;
	src: url('/img/Ubuntu-R.ttf');
	font-weight: normal;
	font-style: normal;
}
@keyframes slide{
	0%{background-position-x: 0}
	100%{background-position-x: -2560px;}
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	font-family: ubuntu, Arial;
	font-size: 10rem;
	color: white;
	animation: spin 1s infinite;
	--tc: #3f3f3f;
	text-shadow: 1rem 1rem var(--tc);
	background: #000;
}
*{
	margin:0;box-sizing:border-box;
	padding:0;line-height:12rem;min-width:0;
	flex-shrink:0;-webkit-tap-highlight-color:transparent;
	overscroll-behavior: none; touch-action: manipulation;
	scrollbar-width: none;
}
img, canvas{ image-rendering: pixelated }
input, textarea{
	font: inherit;
	border: unset;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border-radius: unset;
	resize: none;
	background: none;
	color: transparent;
	caret-color: transparent;
}
in{
	display: block;
	background: #000;
	border: 1rem #a0a0a0 solid;
	position: relative;
	z-index: 0;
	--padding: 3rem;
	width: 200rem;
	height: 20rem;
	overflow: hidden;
}
in.tall{ height: 6em; }
in div, in input, in textarea{
	position: absolute;
	top: 0; height: calc(100% + 1rem);
	left: 0; width: 100%;
	overflow: auto;
	overflow-wrap: break-word;
	padding: var(--padding);
	white-space: pre;
}
in > div{ z-index: -1 }
f.__invalid{color: red}
in textarea:focus + div > f.__cursor, in input:focus + div > f.__cursor{
	display: inline;
}
f.__cursor{
	display: none;
	letter-spacing: -50rem;
	animation: blink 1.2s steps(2) infinite;
}
@keyframes blink{
	0%{opacity: 1} 49.99% {opacity: 1} 50%{opacity: 0} 100%{opacity: 0}
}
input::selection, textarea::selection{
	background-color: #fffd;
	color: blue;
}

input[type=checkbox]{
	width: 1em;
	height: 1em;
	margin: 0;
	vertical-align: bottom;
}
input[type=checkbox]:checked::after{
	content: "✓";
	display: block;
	line-height: 0.85em;
	font-size: 1.2em;
	width: inherit;
	text-align: center;
}
span{
	display: block;
	text-align: center;
	height: 20rem;
	line-height: 20rem;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: visible;
	flex-shrink: 0;
}
btn2{
	display: block;
	text-align: center;
	height: 20rem;
	width: 200rem;
	line-height: 16rem;
	background: #777;
	outline: 1rem black solid;
	outline-offset: -1rem;
	cursor: pointer;
	flex-shrink: 0;
	border: 2rem solid;
	border-color: #fff8 #0008 #0008 #fff8;
}
btn2 > img{
	height: 12rem;
	margin: 2rem;
	width: auto;
	filter: drop-shadow(1rem 1rem #3f3f3f);
}
btn2.small{
	width: 96rem;
}
btn2.tiny{
	width: 20rem;
}
btn2.thumb{
	width: 8rem;
	position: absolute;
	--value: 0;
	top: 0;
	left: calc(var(--value) * (100% - 8rem));
}
btn2.highlighted, btn2.hover{
	background: #79d;
}
btn2.disabled{
	cursor: unset;
	border: none;
	background: #222;
}
img.icon{
	min-width: 13rem;
	height: 13rem;
	position: relative;
	filter: drop-shadow(1rem 1rem #3f3f3f);
}
.selectable.hover{
	color: white !important;
}

.c0{ color: #000; --tc: #0004; text-shadow: 1rem 1rem var(--tc); }
.c1{ color: #a00; --tc: #2a0000; text-shadow: 1rem 1rem var(--tc); }
.c2{ color: #0a0; --tc: #002a00; text-shadow: 1rem 1rem var(--tc); }
.c3{ color: #fa0; --tc: #2a2a00; text-shadow: 1rem 1rem var(--tc); }
.c4{ color: #00a; --tc: #00002a; text-shadow: 1rem 1rem var(--tc); }
.c5{ color: #a0a; --tc: #2a002a; text-shadow: 1rem 1rem var(--tc); }
.c6{ color: #0aa; --tc: #002a2a; text-shadow: 1rem 1rem var(--tc); }
.c7{ color: #aaa; --tc: #2a2a2a; text-shadow: 1rem 1rem var(--tc); }
.c8{ color: #555; --tc: #15151544; text-shadow: 1rem 1rem var(--tc); }
.c9{ color: #f55; --tc: #3f1515; text-shadow: 1rem 1rem var(--tc); }
.c10{ color: #5f5; --tc: #153f15; text-shadow: 1rem 1rem var(--tc); }
.c11{ color: #ff5; --tc: #3f3f15; text-shadow: 1rem 1rem var(--tc); }
.c12{ color: #55f; --tc: #15153f; text-shadow: 1rem 1rem var(--tc); }
.c13{ color: #f5f; --tc: #3f153f; text-shadow: 1rem 1rem var(--tc); }
.c14{ color: #5ff; --tc: #153f3f; text-shadow: 1rem 1rem var(--tc); }
.c15{ color: #fff; --tc: #3f3f3f; text-shadow: 1rem 1rem var(--tc); }

.s1, .s3 { text-shadow: .75rem 0, 1rem 1rem var(--tc), 1.75rem 1rem var(--tc); letter-spacing: 1rem; }
.s2, .s3, .s6, .s7, .s10, .s11, .s14, .s15{ font-style: italic; }
.s4, .s5, .s6, .s7 { text-decoration: underline 1rem }
.s8, .s9, .s10, .s11 { text-decoration: line-through 1rem }
.s12, .s13, .s14, .s15 { text-decoration: underline line-through 1rem }
.s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12, .s13, .s14, .s15 { text-shadow: none; filter: drop-shadow(1rem 1rem var(--tc)) }
.s5, .s7, .s9, .s11, .s13, .s15{ text-shadow: .75rem 0; letter-spacing: 1rem; }


iframe{
	position: fixed;
	border: none;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}


hr{
	visibility: hidden;
	flex: 1;
}

::placeholder{ color: #8888 }

#ui{
	padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
	display: flex;
	position: absolute; inset: 0;
	z-index: 1;
	flex-direction: column;
	justify-content: center;
	background-color: #0006;
	align-items: center;
	/* No BGR antialiasing on windows 10 (it looks really ugly) */
	filter: invert(0);
}

.menu{
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
row{
	display: flex;
	flex-direction: row;
	gap: 8rem;
	width: 100%;
	justify-content: center;
}

column{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 3rem;
	background: #fff2;
	height: 25rem;
	gap: 4rem;
}

@keyframes fade{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
#voice{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAALCAYAAAD1JjQCAAAAAXNSR0IArs4c6QAAANFJREFUOE+9lFsOwyAMBM2p2yO0pyZa1IlWK5I2QWqUH/BrWGxa2derupZt/P//9qKAgLACpFx34g9h3lX1XFDoVdWvxv8Ekyf1tSuKGt/sUn8W1wjMa5Iyj0//yOZKscYuFVQg/c/sAs+4AUMhgLQmuduUAHglUrEjSA6T101cjof8RnKfIKfVvsNkgTPFZjB+CxzYoUbP5BXhQACN6Kr4nk9gKpa9QWNPe4ZELp9T50TMpgQ1lQt/95vZ5Zv7p8rceStWnsp9tJ3SE159K1ZgNm64fhq/G7yuAAAAAElFTkSuQmCC) 0/cover;
	height: 11rem; width: 35rem;
	position: absolute;
	bottom: 5rem; left: 5rem;
	filter: drop-shadow(0 0 3px black);
	z-index: 999;
}

[hidden]{display: none !important}

#serverlist, #optionlist{
	box-shadow: inset 0 0 10rem black;
	background: #0004;
	--padding: 7rem;
	width: 100%;
	flex: 20;
	min-height: 200px;
	overflow-y: auto;
	padding: var(--padding) calc(var(--padding) + env(safe-area-inset-right)) calc(var(--padding) + env(safe-area-inset-bottom)) calc(var(--padding) + env(safe-area-inset-left));
	display: flex; flex-direction: column;
	gap: 4rem;
	align-items: center;
	width: calc(100% + env(safe-area-inset-left) + env(safe-area-inset-right));
}
#serverlist > row{
	padding: 1rem;
	height: 54rem;
}
#optionlist{gap: 16rem;}
#serverlist span, #optionlist > row > span{
	flex-grow: 1;
	text-align: left;
}
#optionlist > row{
	padding: 0 10rem;
}
#serverlist > row > div{
	height: 52rem;
	flex: 1;
}
#serverlist > row{
	pointer-events: none;
}
#serverlist > row btn2{ pointer-events: all; position: relative; z-index: 1; }
#serverlist > row:after{
	content: "";
	position: absolute;
	top: 100%; left: 0; width: 100%; height: 4rem;
	pointer-events: all;
}
#serverlist > row:last-child{ height: 30rem; padding: 0; flex: 1; pointer-events: all; }
#serverlist > row:last-child > btn{
	text-align: center;
	height: 30rem;
	line-height: 30rem;
	flex: 1;
}
btn.hover, row.hover{
	outline: 1rem #fff8 solid;
	outline-offset: -1rem;
	cursor: pointer;
}
#serverlist > row > img{
	min-width: 48rem; height: 48rem; margin: 2rem; max-width: 96rem;
	position: relative;
}
img:after{
	position: absolute; inset: 0; content: '';
	background: url(./img/pack.png) center/contain no-repeat, #000;
}

@media (orientation: portrait) and (max-width: 450px) {
	#orientationdiv{display: flex !important}
}

.serverlist > row{ padding: var(--p); padding-top: 0 !important; gap: var(--p) !important; }
#ui.serverlist{ --p: 8rem; padding-top: var(--p) !important; }

@media (max-height: 600px){
	#serverlist > row > img{
		min-width: 40rem; height: 40rem;
	}
	#serverlist > row{ height: 46rem }
	#serverlist{ --padding: 5rem }
	#ui.serverlist{ --p: 4rem }
	in.tall{ height: 5em; }
}
@media (max-height: 380px){
	#serverlist > row > img{
		min-width: 32rem; height: 32rem;
	}
	#serverlist > row{ height: 38rem }
	#serverlist{ --padding: 3rem }
	#ui.serverlist{ --p: 2rem }
	#serverlist > row > div > span{ transform: translateY(-6rem) }
	in.tall{ height: 4em; }
}
@media (max-height: 336px) {
	body{
		width: 125%;
		height: 125%;
		transform-origin: top left;
		transform: scale(0.8);
	}
}

@media (pointer: coarse){
	in:has(input:focus){
		position: fixed;
		left: 50%; top: 20%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 100px 50px #000;
	}
}

#spacing{ flex-basis: 15% }

#errors{
	position: fixed;
	top: 0; left: 0;
	z-index: 2147483647;
	display: flex;
	color: red;
	flex-direction: column;
	white-space: pre-wrap;
	width: 75%;
	height: 0; font-size: 6rem; line-height: 5rem;
	pointer-events: none;
	touch-action: none;
}

.textc{ white-space: pre-wrap }
.textc > span{ display: inline }
::-webkit-scrollbar{ display: none }

prompt{
	cursor: pointer;
	z-index:1000000; position:fixed;
	top: 0; left: 0; width: 100%;
	background: #72a; display: flex;
}
prompt > span{
	line-height:16rem; height:16rem;
}