#inv{
	background: url('../img/invui.png') bottom/100% no-repeat;
	height: 80rem;
	width: 176rem;
}
.menu{
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
row{
	display: flex;
	flex-direction: row;
	gap: 8rem;
}

#chat{
	position: fixed;
	bottom: 42rem;
	z-index: 20;
	left: 2rem;
	width: 250rem;
	display: flex;
	flex-direction: column-reverse;
}
@keyframes fade{
	0%{opacity: 1;}
	100%{opacity: 0;}
}
#chat > div{
	padding: 0 3rem;
	background: #0004;
	white-space: pre-wrap;
	animation: fade 2s linear 4s both;
}
#chat.focus > div{
	opacity: 1 !important;
	animation-play-state: paused;
}
#chatbox{
	position: fixed;
	bottom: 30rem;
	z-index: 20;
	left: 2rem;
	background: #0004;
	border: none;
	--padding: 0 3rem;
	height: 1.1em;
	width: calc(100% - 4rem);
}

[hidden]{display: none !important}

#serverlist{
	box-shadow: inset 0 0 20px black;
	background: #0004;
	padding: 5rem;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}
#serverlist row{
	padding: 1rem;
	margin: 5rem;
	height: 22rem;
}
#serverlist label{
	flex-grow: 1;
}
#serverlist row:hover{
	border: 1rem #fff8 solid;
	cursor: pointer;
	padding: 0;
}

::placeholder{
	color: #8888;
}